body {
    background-color: #eee;
}

div.content {
    background-color: white;
    border: 1px solid #ddd;
    margin: 2em;
    padding: 1em;
}
.section{
	border-bottom: 1px solid #bbb;
	padding-top: 5px;
}
/*
.btn-group .btn:focus, 
.btn-group .btn:hover
{
    outline: none;
}*/

.has-error input[type=text],
.has-error input[type=number]
{
    background-color: #fdd;
}
