body {
    background-color: rgb(47,47,123);
}

div.content {
    background-color: white;
    border: 1px solid #ddd;
    margin: 2em;
    padding: 1em;
}
h3 {
	text-decoration: underline;
}
.has-error input[type=text],
.has-error input[type=number]
{
    background-color: #fdd;
}

.has-error .btn
{
    border-color: rgb(169, 68, 66);
}

.com-field {
    width: 22em;
    height: 14em;
}
